.direct-messages {
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    max-width: 420px;
    width: 100%;
    background-color: #fff;
    z-index: 9999;
}

.sidebar-header-col {
    display: inline-block;
}

.sidebar-header-col-right {
    float: right;
    cursor: pointer;
}

.sidebar-wrap {
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-left: 40px;
}

.sidebar-header-wrap {
    padding: 30px;
    border-bottom: 1px solid #eee;
}

.sidebar-content-block {
    padding-right: 50px;
}

.m-container {
    width: 100%;
    display: inline-block;
}

.message-page-message-chat--message-from {
    margin-left: 10%;
    border: 1px solid #8e24aa;
    /*width: 100%;*/
    float: right;
    /*display: block;*/

}

.message-page-message-chat {
    margin-top: 15px;
}

.message-page-message-chat {
    position: relative;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    -ms-border-radius: 35px;
    -o-border-radius: 35px;
    border-radius: 35px;
    padding: 10px 15px;
}

.message-page-message-chat--message-to {
    margin-right: 10%;
    border: 1px solid #fb8c00;
    /*width: 100%;*/
    float: left;
    /*display: block;*/
}

.sidebar-footer {
    padding-bottom: 30px;
    padding-top: 30px;
    text-align: left;
    padding-left: 40px;
}

.sidebar-area {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.sidebar-top {
    position: absolute;
    width: inherit;
}

.sidebar-footer {
    padding-bottom: 30px;
    padding-top: 30px;
    text-align: left;
}
.click-direct:hover  {
    background-color: #ff9800;
    color: #fff;
}

